@model AdminViewModel
<h1>Admin</h1>

<p>Add Player</p>

<form action="/Admin/AddPerson" method="post">
    <input type="text" name="firstName" />
    <input type="text" name="lastName" />
    <input type="email" name="email" />
    <select>
        @foreach (var group in Model.GameGroups)
        {
            <option value="@group.Id">@group.Name</option>
        }
    </select>

    <input type="submit" value="Add Person" />
</form>

<p>Add Gaming Group</p>
<form action="/Admin/AddGameGroup" method="post">
    <input type="text" name="groupName" />

    <input type="submit" value="Add Group" />
</form>